<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Về chúng tôi</h1>
                <ul class="crumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="sep">/</li>
                    <li>Về chúng tôi</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<!-- content begin -->
<div id="content" class="no-top no-bottom">
    <section id="section-about-us-2" class="side-bg no-padding">
        <div class="image-container col-md-5 pull-left" data-delay="0"></div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 col-md-offset-6 " data-animation="fadeInRight" data-delay="200">
                        <h2 style="color: #fff">Thư ngỏ</h2>

                        <p class="intro">Kính thưa Quý Công ty,<br><br>
                            Công ty TNHH Thiết kế và Xây dựng ĐỨC THIỆN xin gửi tới Quý Công ty lời chào trân trọng và
                            lời cảm ơn chân thành nhất!<br><br>
                            DTCons hoạt động trong lĩnh vực xây dựng được thành lập vào năm 2011 bởi các anh em tâm
                            huyết trong nghề. Với ý nghĩa ĐỨC trong “Tâm Đức”, THIỆN trong “Thiện Chí”, do vậy chúng tôi
                            luôn hướng mục tiêu đến khách hàng bằng tất cả Tâm Đức và Thiện Chí của người làm nghề, nhằm
                            xây dựng giá trị cốt lõi Công trình một cách tốt nhất.<br><br>
                            Chúng tôi cam kết nỗ lực hết mình trong mọi dự án tham gia để biển ý tưởng, tầm nhìn của
                            khách hàng thành hiện thực, đảm bảo dự án thực hiện đúng tiến độ, trong ngân sách và với
                            tiêu chuẩn chất lượng cao nhất. DTCons hướng tới trở thành công ty cung cấp dịch vụ xây dựng
                            hàng đầu, và Công ty sẽ hiện thực hóa mục tiêu này qua:<br><br>
                            • Xây dựng mối quan hệ với khách hàng, đối tác bằng chất lượng, sự minh bạch và chuyên
                            nghiệp.<br><br>
                            • Xây dựng giải pháp tối ưu trong xây dựng nhằm đảm bảo chi phí hợp lý nhất.
                            • Vượt qua mong đợi của khách hàng.
                            • Vận hành hiệu quả.<<br><br>
                            Rất cảm ơn vì sự quan tâm đến hồ sơ năng lực Công ty, hy vọng chúng tôi có cơ hội hợp tác
                            với các đối tác trong tương lai gần.<br><br>
                            Trân trọng.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    {{!-- <section id="section-team">
        <div class="container">



            <div class="row">
                <div class="col-md-12 container-4">
                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="images/team/team_pic_1.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="team-desc col-md-12">
                            <h3>John Smith</h3>
                            <p class="lead">Project Manager</p>
                            <div class="small-border"></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.</p>

                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->

                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="images/team/team_pic_2.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="team-desc col-md-12">
                            <h3>Michael Dennis</h3>
                            <p class="lead">Creative Director</p>
                            <div class="small-border"></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.</p>

                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->

                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="images/team/team_pic_3.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="team-desc col-md-12">
                            <h3>Sarah Michelle</h3>
                            <p class="lead">Creative Staff</p>
                            <div class="small-border"></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.</p>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->

                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="images/team/team_pic_4.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="team-desc col-md-12">
                            <h3>Katty Wilson</h3>
                            <p class="lead">Creative Staff</p>
                            <div class="small-border"></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.</p>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </section> --}}
    <!-- section begin -->
    <section id="section-testimonial" class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                    <h1>Khách hàng nói gì về chúng tôi</h1>
                    <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                    <div class="spacer-single"></div>
                </div>
            </div>
            <div id="testimonial-carousel" class="de_carousel  wow fadeInUp" data-wow-delay=".3s">

                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>Chúng tôi đánh giá cao công ty Đức Thiện ở việc đáp ứng tiến độ cho khách hàng, khi chúng
                                tôi cần gấp các sản phẩm phục vụ cho nhưng đơn hàng gấp khắc phục sự cố hay sửa chữa
                                đường dây điện, công ty Đức Thiện đã phục vụ hết mình. Dù công trình to hay nhỏ Đức
                                Thiện đều nhiệt tình với khách hàng. Chính thái độ vì khách hàng của Đức Thiện đã giúp
                                chúng
                                tôi ghi điểm rất nhiều với chủ đầu tư. Chúng tôi luôn đánh giá cao và giới thiệu Đức
                                Thiện
                                với các đơn vị khác.</p>
                            <div class="de_testi_by">
                                Mr Trần Văn Bộ
                            </div>
                        </blockquote>

                    </div>
                </div>

                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>Chúng tôi là đơn vị đã hợp tác cùng Đức Thiện hàng chục năm nay. Chúng tôi thấy Đức Thiện
                                ngày càng có sự chuyển mình lớn mạnh, ngày càng chuyên nghiệp, hệ thống máy móc thì hiện
                                đại và đồng bộ. Đặc biệt thời gian gần đây chúng tôi thấy công ty triển khai hệ thống
                                quản lý làm thay đổi bộ mặt nhà máy rất nhiều so với trước đây. Đơn vị chúng tôi được
                                chủ đầu tư đánh giá cao. Chúng tôi đã giới thiệu rất nhiều khách hàng khác cho Đức Thiện
                                và tin rằng
                                công ty Đức Thiện sẽ ngày càng phát triển vững mạnh!</p>
                            <div class="de_testi_by">
                                Mr Trịnh Việt Quân
                            </div>
                        </blockquote>
                    </div>
                </div>

                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>Ở công ty Đức Thiện có đội ngũ nhân viên kinh doanh rất chuyên nghiệp có thể hiểu kỹ
                                thuật, trao đổi đầy đủ với khách tư vấn khi thấy bảng kê đặt hàng có vấn đề. Phòng kỹ
                                thuật trình độ chuyên môn cao, đã tư vấn thay đổi thiết kế cho phù hợp thực tế lắp đặt.
                                Chúng tôi đánh giá rất cao sự chuyên nghiệp này vì nhờ đó mà các công trình chúng tôi
                                đặt hoàn thành nhanh chóng, công trường ít khi phản hồi nhiều như khi tôi đi đặt hàng ở
                                đơn vị khác.</p>
                            <div class="de_testi_by">
                                Mr Trường
                            </div>
                        </blockquote>
                    </div>
                </div>

                <div class="col-md-6 item">
                    <div class="de_testi">
                        <blockquote>
                            <p>Các công trình do Đức Thiện sản xuất chúng tôi hoàn toàn yên tâm về mặt chất lượng, có
                                đầy đủ nguồn gốc xuất sứ, chứng chỉ chất lượng sản phẩm. Hàng trăm công trình lắp đặt
                                trên
                                khắp tỉnh Lào cai được Đức Thiện cung cấp sản phẩm đều được đánh giá cao về chất lượng.
                            </p>
                            <div class="de_testi_by">
                                Mr Bùi Duy Đông
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section id="view-all-projects" class="call-to-action bg-color dark text-center" data-speed="5"
        data-type="background" aria-label="view-all-projects">
        <a href="/contact" class="btn btn-line-black btn-big">Liên hệ với chúng tôi</a>
    </section>
    <!-- logo carousel section close -->
</div>