<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Đức Thiện Construction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Archi is best selling interior design website template with responsive stunning design">
    <meta name="keywords"
        content="architecture,building,business,bootstrap,creative,exterior design,furniture design,gallery,garden design,house,interior design,landscape design,multipurpose,onepage,portfolio,studio">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/jpreloader.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/demo/demo.css" type="text/css">

    <!-- custom background -->
    <link rel="stylesheet" href="/css/bg.css" type="text/css">

    <link rel="stylesheet" href="/css/color.css" type="text/css" id="colors">
    
    <!-- load fonts -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/fonts/elegant_font/HTML_CSS/style.css" type="text/css">
    <link rel="stylesheet" href="/fonts/et-line-font/style.css" type="text/css">

    <!-- revolution slider -->
    <link rel="stylesheet" href="/rs-plugin/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/css/rev-settings.css" type="text/css">
</head>

<body id="homepage">

    <div id="wrapper">

        <!-- header begin -->
        <header>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col">Working Hours Monday - Friday <span
                                    class="id-color"><strong>08:00-16:00</strong></span></div>
                            <div class="col">Toll Free <span class="id-color"><strong>1800.899.900</strong></span></div>
                            <!-- social icons -->
                            <div class="col social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="/">
                                <img class="logo" src="/images/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo close -->

                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->

                        <!-- mainmenu begin -->
                        <nav>
                            <ul id="mainmenu">
                                <li><a href="/">Trang chủ</a>

                                </li>
                                <li><a href="/about">Về chúng tôi</a>
                                </li>
                                <li><a href="/projects">Dự án</a>
                                </li>
                                <li><a href="/services">Dịch vụ</a>
                                </li>
                                <li><a href="/blogs">Tin tức</a></li>

                                <li><a href="/contact">Liên hệ</a></li>
                            </ul>
                        </nav>

                    </div>
                    <!-- mainmenu close -->

                </div>
            </div>
        </header>
        <!-- header close -->

        {{{body}}}


        <!-- footer begin -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/logo-border.jpg" class="logo-small" alt=""><br>
                        Với thế mạnh trong lĩnh vực thi công xây dựng, Công ty Thiết kế Xây dựng Đức Thiên Construction đã và đang tạo
                        được niềm tin đối với khách hàng bằng việc xây dựng những công trình chất lượng, tiện ích khi
                        đưa vào sử dụng. Chúng tôi là một tập thể gồm các kỹ sư, kiến trúc sư dày dặn kinh nghiệm và các
                        công nhân lành nghề luôn đặt hết tâm huyết vào trong từng công trình.
                    </div>

                    <div class="col-md-4">
                        <div class="widget widget_recent_post">
                            <h3>Liên hệ qua</h3>
                            <ul>
                                <li>Facebook: <a target="_blank"  style="color: #FAB702 !important" href="https://www.facebook.com/dtconsvn">https://www.facebook.com/dtconsvn</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Thông tin liên hệ</h3>
                        <div class="widget widget-address">
                            <address>
                                <span>135B Điện Biên Phủ, Phường 15, Bình Thạnh, Hồ Chí Minh</span>
                                <span><strong>Phone:</strong>091 858 770 (Mr Hùng)</span>
                                <span><strong>Phone:</strong>0971 778 839 (Mr Luân)</span>
                                <span><strong>Email:</strong>Ducthien@dtcons.vn</span>
                            </address>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" id="back-to-top"></a>
        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
    =================/================================= -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jpreLoader.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/easing.js"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/jquery.scrollto.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/video.resize.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/enquire.min.js"></script>
    <script src="/js/designesia.js"></script>
    <script src="/demo/demo.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

</body>

</html>