<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Dịch vụ của chúng tôi</h1>
                <ul class="crumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="sep">/</li>
                    <li>Dịch vụ của chúng tôi</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<!-- content begin -->
<div id="content" class="no-top no-bottom">

    <!-- section service begin -->
    <section id="section-service-1" class="side-bg no-padding">
        <div class="image-container col-md-5 pull-left" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 col-md-offset-6 wow fadeInRight" data-wow-delay=".2s">
                        <h3 class="id-color">Thiết kế và xây dựng</h3>
                        Với đội ngũ kỹ sư và chuyên viên, chúng tôi có chuyên môn thiết kế chuyên dụng, xây dựng các
                        loại nhà ở, công trình đường sắt, đường bộ, công trình công ích, công trình kỹ thuật dân dụng,
                        chuẩn bị mặt bằng, phá dỡ và hoàn thiện các công trình xây dựng.
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->

    <!-- section service begin -->
    <section id="section-service-2" class="side-bg no-padding" data-bgcolor="#212225">
        <div class="image-container col-md-5 col-md-offset-7 pull-right" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div style="color: #fff" class="col-md-6 wow fadeInLeft" data-wow-delay=".2s">
                        <h3 class="id-color">Cung cấp vật tư</h3>
                        Với kinh nghiệm và cơ sở máy móc hiện đại, chất lượng, chúng tôi cung cấp cho khách hàng các
                        loại vật liệu, thiết bị lắp đặt trong xây dựng, đồ dùng cho gia đình, cho thuê máy móc, thiết
                        bị. Đảm bảo cung ứng đầy đủ và đảm bảo chất lượng cho các công trình cũng như nhà ở.
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->

    <!-- section service begin -->
    <section id="section-service-3" class="side-bg no-padding">
        <div class="image-container col-md-5 pull-left" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div class="col-md-6 col-md-offset-6 wow fadeInRight" data-wow-delay=".2s">
                        <h3 class="id-color">Dịch vụ xây dựng</h3>
                        Với niềm tin của khách hàng dành cho chúng tôi, Đức Thiện chịu trách nhiệm lắp đặt các hệ thống
                        cấp, thoát nước, lò sưởi, điều hòa không khí, lắp đặt hệ thống điện, lắp đặt hệ thống xây dựng,
                        gia công cơ khí, xử lý, tráng phủ kim loại, đặc biệt chăm sóc và duy trì cảnh quan.
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->

    <!-- section service begin -->
    <section id="section-service-4" class="side-bg no-padding" data-bgcolor="#212225">
        <div class="image-container col-md-5 col-md-offset-7 pull-right" data-delay="0">
            <div class="background-image"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="inner-padding">
                    <div style="color: #fff" class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
                        <h3 class="id-color">Cảm ơn quý khách đã tin tưởng chúng tôi</h3>
                        DTCons hoạt động trong lĩnh vực xây dựng được thành lập vào năm 2011 bởi các anh em tâm huyết
                        trong nghề. Với ý nghĩa ĐỨC trong “Tâm Đức”, THIỆN trong “Thiện Chí”, do vậy chúng tôi luôn
                        hướng mục tiêu đến khách hàng bằng tất cả Tâm Đức và Thiện Chí của người làm nghề, nhằm xây dựng
                        giá trị cốt lõi Công trình một cách tốt nhất.
                        <div class="spacer-single"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->

    <!-- section begin -->
    <section id="view-all-projects" class="call-to-action bg-color dark text-center" data-speed="5"
        data-type="background" aria-label="view-all-projects">
        <a href="/contact" class="btn btn-line-black btn-big">Liên hệ với chúng tôi</a>
    </section>
    <!-- logo carousel section close -->

</div>